

body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
	background: #202731;
}

a {
	text-decoration: none;
	color: white;
}

.container {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;
}

.header {
	position: fixed;
	background-color: white;
	width: 100%;
	background-color: rgba(32, 39, 49, 0.5);
	z-index: 100;

}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 21px;
	padding-bottom: 10px;
	transition: padding-top 0.3s ease-in-out;
}

.logo {

}

.nav {
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.nav_a {
	display: inline-block;
    line-height: 1;
    position:relative;
}

.nav_a:after {
    background-color: #299EF3;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    margin-top: 6px;
    position:absolute;
    -webkit-transition: width .3s;
    -moz--transition: width .3s;
    transition: width .3s;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.nav_a:hover:after,
.nav_a:focus:after {
    width: 80%;
}

.main_info {
		margin-bottom: 350px;
}

.main_wrapper {
	position: relative;
	z-index: 10;
}

.main_header_text {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 64px;
	line-height: 1.4;
	padding-top: 310px;

}

.main_text{
	font-weight: bold;
}

.main_description {
	font-size: 23px;
	line-height: 1.4;
	margin-top: 18px;
	text-align: center;
}

.video_btn {
	font-size: 16px;
	line-height: 19px;
	border: 1px solid #fff;
	padding: 22px 58px;
	text-align: center;
	margin-top: 55px;
 	display: block;
 	background-image: linear-gradient(to left,transparent,transparent 50%,#299EF3 50%,#299EF3);
	background-position: 100% 0;
 	background-size: 200% 100%;
 	transition: all .25s ease-in;
}

.video_btn:hover {
background-position: 0 0;
color:#fff;
cursor: pointer;
}







.video_frame {
	position: absolute;
	display: none;
}

.video_frame iframe{

}

.background_img {
	position: absolute;
	right: 0px;
	top: 98px;
	z-index: 1;

}


.about_us {


}

.about_wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

 .about_img {
 	position: relative;
 	z-index: 30;
 }

.about_border {
	position: absolute;
	transform: translate( 35%,-93%);
	width: 333px;
	height: 455px;
	border: 1px solid #E5E5E5;
	z-index: 20;
}

.about_info {
	width: 450px;
	margin-top: -15px;
	margin-left: 10px;
	transform: scale(0);
	transition: transform .8s;

}

.about_photo {
	margin-bottom: 70px;
	margin-left: 50px;
	  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.active_about_photo {
	 opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.about_header {
	font-size: 36px;
	line-height: 42px;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
}

.about_header:after {
	content: "";
	display: inline-block;
	border-bottom: 1px solid #E5E5E5;
	height: 1px;
	width: 102px;
	margin-left: 60px;
	margin-bottom: 9px;
	font-weight: normal;

}

.about_description {
	margin-top: 43px;
	font-size: 16px;
	line-height: 19px;

}

.mission_header {
	margin-top: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: capitalize;
}

.mission_description {
	margin-top: 20px;
	font-size: 16px;
	line-height: 19px;
	text-align: justify;
}

.services {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 69px;
}

.services .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.services_header {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-transform: capitalize;
	margin-right: 14px;
}

.line {
	width: 217px;
	border-bottom: 1px solid #E5E5E5;


}

.services_photo {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.service {
	width: 288px;
	min-height: 515px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

}


.service_photo1 {
	background: linear-gradient(159.18deg, rgba(32, 39, 49, 0.75) 5.56%, 
								rgba(32, 39, 49, 0.75) 88.37%), 
								url(img/service1.png) no-repeat center/cover;
}

.service_photo2 {
	background: linear-gradient(159.18deg, rgba(32, 39, 49, 0.75) 5.56%, 
								rgba(32, 39, 49, 0.75) 88.37%), 
								url(img/service2.png) no-repeat center/cover;
}


.service_photo3 {
	background: linear-gradient(159.18deg, rgba(32, 39, 49, 0.75) 5.56%, 
								rgba(32, 39, 49, 0.75) 88.37%), 
								url(img/service3.png) no-repeat center/cover;
}

.service_photo4 {
	background: linear-gradient(159.18deg, rgba(32, 39, 49, 0.75) 5.56%, 
								rgba(32, 39, 49, 0.75) 88.37%), 
								url(img/service4.png) no-repeat center/cover;
}

.service_photo5 {
	background: linear-gradient(159.18deg, rgba(32, 39, 49, 0.75) 5.56%, 
								rgba(32, 39, 49, 0.75) 88.37%), 
								url(img/service5.png) no-repeat center/cover;
}

.products {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.products_inner {

}

.products_header {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-transform: capitalize;
	margin-right: 14px;
}

.products_header_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 67px;
}

.products_list {
	background-color: white;
	color: #202731;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 30px;
    padding-right: 30px;

}

.products_ul{

		width: 1122px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 96px;
		margin-bottom: 20px;
}

.product_li {
	width: 280px;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 75px;
}

.icon_text {
	position: relative;
}

.icon_text:after  {
	display: block;
	position: absolute;
	margin-top: 5px;
	left: 0;
	width: 0;
	height: 1px; 
	background-color:  #2A2B32;; 
	content: "";
	transition: width 0.3s ease-out; 

}

.icon_text:hover:after{
	width: 100%;
	cursor: pointer;
}

.icon_text:hover {

}

.icon_img {
	margin-right: 15px;
}
